body{
    text-align: center;
    padding-top: 10em;
    background-color:rgba(79, 90, 70, 0.75);
}
 
button{
    font-size: 14px;
    padding: 40px 40px;
    border-radius: 10px;
    margin: 2em;
    
}
 
.red{
    background-color: red;
}
 
.red:hover{
    background-color: rgb(209, 110, 53);
}
 
.yellow{
    background-color: yellow;
}
 
.yellow:hover{
    background-color: rgb(202, 202, 51);
}
 
.blue{
    background-color: blue;
}
 
.blue:hover{
    background-color: rgb(85, 128, 221);
}
 
.green{
    background-color: green;
}
 
.green:hover{
    background-color: rgb(74, 187, 74);
}

.clicked{
    opacity: 50%;
}
