<!DOCTYPE html>
<html>
  
<head>
    <style>
        /* Resetting the browser stylesheet */
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            overflow: hidden;
            background-color: #000;
            color: #fff;
        }
  
        /* Styling the heading */
        h1 {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
  
        /* Position the mouse pointer and
            the background image */
        .main_box,
        .img,
        .mouse {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
          
        .main_box {
            cursor: none;
            margin-top: 3em;
        }
          
        .img,
        .mouse {
            background-image: url(
'https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190417124305/250.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
  
        /* Reduce the brightness of the image */
        .img {
            filter: brightness(10%);
        }
  
        /* Make a circle with the clip-path property
            for the spotlight in the effect */
        .mouse {
            clip-path: circle(5em at 0, 0);
        }
    </style>
</head>
  
<body>
    <h1>
        Hover mouse over the image 
        to get spotlight effect
    </h1>
      
    <div class="main_box">
        <div class="img"></div>
        <div class="mouse"></div>
    </div>
  
    <script>
  
        // Select the container box and the 
        // mouse placeholder
        let main = document.querySelector('.main_box');
        let mouse = document.querySelector('.mouse');
  
        // Add an event listener for detecting
        // the movement of the mouse
        main.addEventListener('mousemove',
            (e) => {
  
                // Use a circle with a clipPath
                // and the offsetX and offsetY property
                mouse.style.clipPath =
        `circle(10em at ${e.offsetX}px ${e.offsetY}px)`;
            });
    </script>
</body>
  
</html>
